{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} New post {% endblock %}


{% block body %} 

<div class="card mx-auto text-center my-5" style="width: 48rem;">
    <div class="card-body">
    <h5 class="card-title">New post</h5>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|bootstrap }}
            
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>

{% endblock %}