{% load bootstrap %}


<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">


{% for post in posts %}
<div class="card mx-auto text-center my-5" style="width: 44rem;">
    <div class="card-body">
        <div class="container bootstrap snippets bootdey">
            <div class="col-md-12">
                <div class="col-sm-12">
                    <div class="panel panel-white post panel-shadow">

                        <div class="post-heading">      <!-- User informations (img, name, post_date) -->
                            <div class="pull-left image">
                                <a href="{% url 'user_profile' post.user.userprofilemodel.id %}">
                                    <img src="{{ post.user.userprofilemodel.profile_img.url }}" class="img-circle avatar" alt="user profile image" style="border-radius: 50%;">
                                </a>
                            </div>

                            <div class="pull-left meta">
                                <div class="title h5">
                                    <a href="{% url 'user_profile' post.user.userprofilemodel.id %}">
                                        <h5>{{ post.user.first_name }} {{ post.user.last_name }}</h5>
                                    </a>
                                </div>
                                <h6 class="text-muted time">{{ post.date }}</h6>
                            </div>
                        </div>      <!-- User informations (img, name, post_date) -->

                        <div class="post-image">        <!-- Post img -->
                            <img src="{{ post.post_img.url }}" class="image" alt="image post">
                        </div>      <!-- Post img -->

                        <div class="post-description">      <!-- Post description and icons (like, likes_list, edit, delete) -->
                            <p>{{ post.description }}</p>
                            <div class="stats">
                                <a href="{% url 'like' post.id %}" class="btn btn-default stat-item">
                                    <i class="fa-regular fa-thumbs-up"></i> {{ post.likes }}
                                </a>
                                {% include 'likes_list.html' %}     <!-- Modal windowof the likes list under post -->
                                <button class="btn btn-default stat-item" id="myBtn{{ post.id }}" onclick="openModal('myModal{{ post.id }}')">
                                  <i class="fa-solid fa-list"></i>
                                </button>       <!-- Modal windowof the likes list under post -->

                                {% if post.user == user %}      
                                <a href="{% url 'edit_post' post.id %}" class="btn btn-default"><i class="fas fa-edit"></i></a>
                                <a href="{% url 'delete_post' post.id %}" class="btn btn-default"><i class="fa-sharp fa-solid fa-trash"></i></a>                                    
                                {% endif %}  
                                                           
                            </div>
                        </div>      <!-- Post description and icons (like, likes_list, edit, delete) -->
                        
                        <div class="post-footer">
                            <div class="input-group"> 
                                <form method="post" action="{% url 'add_comment' post.id %}">  <!-- New comment functionality -->
                                    {% csrf_token %}
                                    <span  style="display: inline-block; vertical-align: top;">
                                        <input type="text" name="text" id="id_text">
                                    </span>
                                    <button type="submit" class="btn btn-default" style="display: inline-block; vertical-align: bottom;">
                                        <i class="fa-regular fa-comment-dots"></i>
                                    </button>                       
                                </form>     <!-- New comment functionality -->
                            </div>

                            <ul class="comments-list">      <!-- Printing all comments of the specific post with user information (img, name, comment_date)-->
                                {% for comment in post.commentmodel_set.all %}
                                <li class="comment">
                                    <a class="pull-left" href="#">
                                        <img class="avatar" src="{{ comment.user.userprofilemodel.profile_img.url }}" alt="avatar" style="border-radius: 50%;">
                                    </a>
                                    <div class="comment-body">
                                        <div class="comment-heading">
                                            <h4 class="user">{{ comment.user.first_name }} {{ comment.user.last_name }}</h4>
                                            <h5 class="time">{{ comment.date }}</h5>
                                        </div>
                                        <p>{{ comment.text }}</p>

                                        {% if comment.user == user %}   <!-- Deleting comment if logged in user is the owner -->
                                            <a href="{% url  'delete_comment' comment.id %}"><i class="fa-sharp fa-solid fa-trash"></i></a>
                                        {% endif %}     <!-- Deleting comment if logged in user is the owner -->
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>       <!-- Printing all comments of the specific post with user information (img, name, comment_date)-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
