{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} {{ profile.user.username }} {% endblock %}

{% block body %}
<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: #030303a9; height:200px;">

              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">    <!-- User informations section (img, name, gender) -->
                <img src="{{ profile.profile_img.url }}" 
                  alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                  style="width: 150px; z-index: 1">
                  {% if profile.user.id == user.id %}
                    <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                      style="z-index: 1;">
                      <a class="nav-link" href="{% url 'edit_profile' user.userprofile.id %}">Edit profile</a>
                    </button>
                  {% else %}
                  <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                      style="z-index: 1;">
                      {% if not is_followed %}
                        <a class="nav-link" href="{% url 'follow' profile.user.id %}">Follow</a>
                      {% else %}
                        <a class="nav-link" href="{% url 'unfollow' profile.user.id %}">Unfollow</a>
                      {% endif %}
                  </button>
                  {% endif %}
              </div>    
              <div class="ms-3" style="margin-top: 130px;">   
                <h5>{{ profile.user.first_name }} {{ profile.user.last_name }} ({{ profile.user.username }})</h5>
                <p>{{ gender }}</p>
              </div>    
            </div>    <!-- User informations section (img, name, gender) -->

            <div class="p-4 text-black" style="background-color: #f8f9fa;">   <!-- User stats section (amount of the posts, followers, following) -->
              <div class="d-flex justify-content-end text-center py-1">
                <div>
                  <p class="mb-1 h5">{{ profile.posts_amount }}</p>
                  <p class="small text-muted mb-0">Posts</p>
                </div>

                <div class="px-3">    <!-- Modal windows -->
                  {% include 'followers.html' %}
                  <a href="#" id="myBtn1" onclick="openModal('myModal1')">
                    <p class="mb-1 h5">{{ profile.followers_amount }}</p>
                    <p class="small text-muted mb-0">Followers</p>
                  </a>
                </div>
                <div>
                  {% include 'following.html' %}
                  <a href="#" id="myBtn2" onclick="openModal('myModal2')">
                    <p class="mb-1 h5">{{ profile.following_amount }}</p>
                    <p class="small text-muted mb-0">Following</p>
                  </a>
                </div>    <!-- Modal windows -->

              </div>
            </div>    <!--User stats section (amount of the posts, followers, following) -->

            <div class="card-body p-4 text-black">    <!-- User profile description, posts -->
              <div class="mb-5">
                <p class="lead fw-normal mb-1">About</p>
                <div class="p-4" style="background-color: #f8f9fa;">
                  <p class="font-italic mb-1">{{ profile.description }}</p>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0">Recent posts</p>
              </div>

              {% include 'post.html' %}   

            </div>    <!-- User profile description, posts -->

          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}