{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Account settings {% endblock %}

{% block body %} 
    <div class="card mx-auto text-center my-5" style="width: 48rem;">
        <div class="card-body">
        <h5 class="card-title">Account settings</h5>
            <form method="post">
                {% csrf_token %}
                {{ user_form.username|bootstrap }}
                {{ user_form.first_name|bootstrap }}
                {{ user_form.last_name|bootstrap }}
                {{ user_form.email|bootstrap }}
                
                <br>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}