<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Instagram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <form class="form-inline my-2 my-lg-0 mx-auto text-center .d-inline-block">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        
        <ul class="navbar-nav mr-auto">
            {% if user.userprofile %} 
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Settings
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Edit profile</a>
                    <a class="nav-link" href="{% url 'edit_account' user.userprofile.id %}">Edit account</a> 
                </div>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'edit_profile' user.userprofile.id %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'edit_account' user.userprofile.id %}">Account</a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav mr-auto">
            {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout {{ user.username }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
  </nav>