{% load bootstrap %}

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

{% for post in posts %}
<div class="card mx-auto text-center my-5" style="width: 44rem;">
    <div class="card-body">
        <div class="container bootstrap snippets bootdey">
            <div class="col-md-12">
                <div class="col-sm-12">
                    <div class="panel panel-white post panel-shadow">
                        <div class="post-heading">
                            <div class="pull-left image">
                                <img src="/media/{{ user.userprofile.profile_img }}" class="img-circle avatar" alt="user profile image" style="border-radius: 50%;">
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <h5>{{ post.user.first_name }} {{ post.user.last_name }}</h5>
                                </div>
                                <h6 class="text-muted time">{{ post.date }}</h6>
                            </div>
                        </div>
                        <div class="post-image">
                            <img src="/media/{{ post.post_img }}" class="image" alt="image post">
                        </div>
                        <div class="post-description">
                            <p>{{ post.description }}</p>
                            <div class="stats">
                                <a href="#" class="btn btn-default stat-item">
                                    <i class="fa fa-thumbs-up icon"></i>{{ post.likes }}
                                </a>
                                <a href="#" class="btn btn-default stat-item">
                                    <i class="fa fa-share icon"></i>128
                                </a>
                                {% if post.user == user %}
                                <a href="{% url 'edit_post' post.id %}" class="btn btn-primary btn-sm primary-confirm" role="button" style="display: inline-block; vertical-align: top;">
                                    Edit</a>
                                <a href="{% url 'delete_post' post.id %}" class="btn btn-danger btn-sm delete-confirm" role="button" style="display: inline-block; vertical-align: top;">
                                    Delete</a>
                                {% endif %}
                                
                            </div>
                        </div>
                        <div class="post-footer">
                            
                            <div class="input-group"> 
                                <form method="post" action="{% url 'add_comment' post.id %}">
                                    {% csrf_token %}
                                    <span  style="display: inline-block; vertical-align: top;">
                                        {{ comment_form.text | bootstrap}} 
                                    </span>
                                    <button type="submit" class="btn btn-primary" style="display: inline-block; vertical-align: bottom;">Add</button>                       
                                </form>
                            </div>

                            <ul class="comments-list">
                                {% for comment in post.comments.all %}
                                <li class="comment">
                                    <a class="pull-left" href="#">
                                        <img class="avatar" src="{{ user.userprofile.profile_img.url }}" alt="avatar" style="border-radius: 50%;">
                                    </a>
                                    <div class="comment-body">
                                        <div class="comment-heading">
                                            <h4 class="user">{{ comment.user.first_name }} {{ comment.user.last_name }}</h4>
                                            <h5 class="time">{{ comment.date }}</h5>
                                        </div>
                                        <p style="display: inline-block; vertical-align: bottom;">{{ comment.text }}</p>

                                        {% if comment.id in users_comments %}
                                        <a href="{% url  'delete_comment' comment.id %}" class="btn btn-danger btn-sm delete-confirm" role="button" style="display: inline-block; vertical-align: top;">
                                            Delete</a>
                                        {% endif %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endfor %}
